<%-include ("partials/header.ejs"); %>

    <div class="box" id="heading">
        <h1>
            <%= locals.listTittle  %>
        </h1>
    </div>
    <div class="box">
        <ul>
            <%newListItems.forEach(element=>{%>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%=element._id%>" onchange="this.form.submit()">
                        <p>
                            <%= element.name  %>
                        </p>
                    </div>
                    <input type="hidden" name="listName" value="<%= listTittle%>">
                    </input>
                </form>

                <% })%>
                    <!-- <%for(var i=0;i<newListItems.length;i++){%>

                        <% } %> -->
        </ul>
        <form class="item" action="/" method="post">
            <input type="text " class="jaiho" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%=locals.listTittle%>">+</button>
        </form>
    </div>
    <%-include("partials/footer.ejs");%>